<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find diff_bot)/urdf/differ.urdf"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <include file="$(find diff_bot)/launch/display.launch"/>
</launch>